<!--::::Encabezado de Pagina Mobile::::::-->
<header class="header-mobile">
    <nav class="header-nav">
        <input type="checkbox" id="checkbox-menu-toggle" class="menu-toggle" name="menuToggle" style="display: none;">
        <label for="checkbox-menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
        <div class="main-menu">
            <ul>
                <li>
                    <input type="radio" name="menuToggle" id="figurasToggle" class="menu-toggle">
                    <label for="figurasToggle" class="menu-icon">Figuras</label>
                    <ul class="sub-menu">
                        <li><a href="/product/listProduct?category=Figura&subcategory=Hasbro">Hasbro</a></li>
                        <li><a href="/product/listProduct?category=Figura&subcategory=Bandai">Bandai</a></li>
                        <li><a href="/product/listProduct?category=Figura&subcategory=Funko">Funko</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="comicsToggle" class="menu-toggle">
                    <label for="comicsToggle" class="menu-icon">Comics</label>
                    <ul class="sub-menu">
                        <li><a href="/product/listProduct?category=Comic&subcategory=Marvel">Marvel</a></li>
                        <li><a href="/product/listProduct?category=Comic&subcategory=DC">DC</a></li>
                        <li><a href="/product/listProduct?category=Comic&subcategory=Star Wars">Star Wars</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="mangasToggle" class="menu-toggle">
                    <label for="mangasToggle" class="menu-icon">Mangas</label>
                    <ul class="sub-menu">
                        <li><a href="/product/listProduct?category=Manga&subcategory=Shonen">Shonen</a></li>
                        <li><a href="/product/listProduct?category=Manga&subcategory=Shojo">Shojo</a></li>
                        <li><a href="/product/listProduct?category=Manga&subcategory=Seinen">Seinen</a></li>
                        <li><a href="/product/listProduct?category=Manga&subcategory=Josei">Josei</a></li>
                    </ul>
                </li>
                <li>
                    <input type="radio" name="menuToggle" id="otrosToggle" class="menu-toggle">
                    <label for="otrosToggle" class="menu-icon">Otros</label>
                    <ul class="sub-menu">
                        <li><a href="/product/listProduct?category=Otro&subcategory=Indumentaria">Indumentaria</a></li>
                        <li><a href="/product/listProduct?category=Otro&subcategory=Accesorio">Accesorios</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <% if(locals?.userLogged) { %>
                    <li class="user-name">
                        <h3> <%= userLogged.name ?? 'Usuario' %> </h3><span><%= userLogged.category.charAt(0).toUpperCase() + userLogged.category.slice(1) %></span></h3>
                    </li>
                    <li>
                        <a class="btn" href="/user/profile"><i class="fa-solid fa-user-gear"></i>Editar perfil</a>
                    </li>
                    <li>
                        <form action="/user/logout" method="post">
                            <button type="submit" class="btn" style="background-color: #721c24; box-shadow: 0 5px #421015;"><i class="fa-solid fa-door-open"></i><a href="#"></a>Cerrar sesión</button>
                        </form>
                    </li>
                <% }else{ %>
                    <li>
                        <a class="btn" href="/user/login">Inicia Sesión</a>
                    </li>
                    <li>
                        <a class="btn" href="/user">Registrate</a>
                    </li>
                <% }%>
            </ul>
        </div>
        <a href="/">
            <img src="/images/murcielago1.png" alt="Logo Bati-Tienda" class="logo">
        </a>
        <div class="cart-icon">
            <a href="/product/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </nav>
    <div class="wrapper-search-box-mobile">
        <form class="search-form" action="#">
            <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>

<!--::::Encabezado de Pagina desktop::::::-->
<header class="header-desktop">
    <section class="header-top">
        <a href="/">
            <img src="/images/murcielago1.png" alt="Logo Bati-Tienda" class="logo1">
        </a>
        <div class="wrapper-search-box-desktop">
            <form class="search-form1" action="#">
                <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="user-cart-icon">
            <% if(locals?.isLogged) { %>
                <div class="action">
                    <div class="profile">
                      <img src="/images/img_profile/<%= userLogged.image %>" onclick="menuToggle()"/>
                    </div>
                    <div class="menu-profile" id="menu-profile-desktop">
                        <h3><%= userLogged.name ?? 'Usuario' %><br /><span><%= userLogged.category.charAt(0).toUpperCase() + userLogged.category.slice(1) %></span></h3>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-gear"></i><a href="/user/profile">Editar perfil</a>
                            </li>
                            <li>
                                <form action="/user/logout" method="post">
                                    <button type="submit" style="border: none; background: none; cursor: pointer;"><i class="fa-solid fa-door-open"></i><a href="#"></a>Cerrar sesión</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            <% }else{ %>
            <div class="login-options">
                <a href="/user/login"><i class="fa-solid fa-user"> Inicia Sesion</i></a>
                <a href="/user"><i class="fa-regular fa-user"> Registrate</i></a>
            </div>
            <% }%>
            <a id="car-link" href="/product/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </section>
    <nav class="navbar">
        <ul class="menu">
            <li class="menu-item">
                <a href="/product/listProduct?category=Figura">Figuras</a>
                <ul class="submenu">
                    <li><a href="/product/listProduct?category=Figura&subcategory=Hasbro">Hasbro</a></li>
                    <li><a href="/product/listProduct?category=Figura&subcategory=Bandai">Bandai</a></li>
                    <li><a href="/product/listProduct?category=Figura&subcategory=Funko">Funko</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/product/listProduct?category=Comic">Comics</a>
                <ul class="submenu">
                    <li><a href="/product/listProduct?category=Comic&subcategory=Marvel">Marvel</a></li>
                    <li><a href="/product/listProduct?category=Comic&subcategory=DC">DC</a></li>
                    <li><a href="/product/listProduct?category=Comic&subcategory=Star Wars">Star Wars</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/product/listProduct?category=Manga">Mangas</a>
                <ul class="submenu">
                    <li><a href="/product/listProduct?category=Manga&subcategory=Shonen">Shonen</a></li>
                    <li><a href="/product/listProduct?category=Manga&subcategory=Shojo">Shojo</a></li>
                    <li><a href="/product/listProduct?category=Manga&subcategory=Seinen">Seinen</a></li>
                    <li><a href="/product/listProduct?category=Manga&subcategory=Josei">Josei</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="/product/listProduct?category=Otro">Otros</a>
                <ul class="submenu">
                    <li><a href="/product/listProduct?category=Otro&subcategory=Indumentaria">Indumentaria</a></li>
                    <li><a href="/product/listProduct?category=Otro&subcategory=Accesorio">Accesorios</a></li>
                </ul>
            </li> 
        </ul>
    </nav>
</header>