<form class="create-form" id="createProductForm" onsubmit="loaderOn(event)" action="<%= Object.keys(product).length > 0 ? `/product/${product.id}?_method=PUT` : '/product' %>" method="POST" enctype="multipart/form-data">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo" value="<%= Object.keys(product).length > 0 ? product.title : '' %>" required>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" value="<%= Object.keys(product).length > 0 ? product.price : '' %>" required>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" value="<%= Object.keys(product).length > 0 ? product.stock : '' %>" required>

    <label for="categoria">Categoría:</label>
    <select id="categoria" name="categoria" onchange="changeSubcategories(event)" required>
        <option value="Figura" <%= Object.keys(product).length > 0 && product.category === 'Figura' ? 'selected' : '' %>>Figuras</option>
        <option value="Comic" <%= Object.keys(product).length > 0 && product.category === 'Comic' ? 'selected' : '' %>>Comics</option>
        <option value="Manga" <%= Object.keys(product).length > 0 && product.category === 'Manga' ? 'selected' : '' %>>Mangas</option>
        <option value="Otro" <%= Object.keys(product).length > 0 && product.category === 'Otro' ? 'selected' : '' %>>Otros</option>
    </select>
    
    <label for="subcategoria">Subcategoría:</label>
    <select id="subcategoria" name="subcategoria" required>
        <option value="">Elije una categoría</option>
        <option value="Hasbro">Hasbro</option>
        <option value="Bandai">Bandai</option>
        <option value="Funko">Funko</option>
    </select>
    
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" rows="4" value="" required><%= Object.keys(product).length > 0 ? product.description : '' %></textarea>
    
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" name="imagen" accept="image/*">
    
    <div class="btn-create">
        <button class="btn" type="submit">Crear</button>
        <button class="btn" type="button">Vista</button>
    </div>
</form>
<div id="loaderBatman">
    <div class="loader-content">
        <img src="/images/BatmanRUN-unscreen.gif" alt="loader">
        <p>Loading<span>.</span><span>.</span><span>.</span></p>
    </div>
</div>
<%- include('./loaderBatman') -%>