
  <%- include('./parcials/head') -%>
  <body>
    <%- include('./parcials/header') -%>
    <main>
      <div class="banner-container">
        <div class="banner-inicio">
          <img src="/images/banner1.png" alt="banner nuevas ofertas">
        </div>
      </div>
      <div class="productos-lista">
        <% for(product of products) { %>
        <div class="producto">
          <a href="/product/<%=product.id%>" >
            <img src="<%=product.imagen%>" />
          </a>
          <div class="producto-descripcion">
            <h2 class="producto-nombre"><%= product.titulo %></h2>
            <div class="precio-carro">
              <p class="producto-precio">$<%= product.precio %></p>
              <button class="btn-add-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
                Añadir
              </button>
            </div>
            <p class="descripcion-producto">
              <%= product.descripcion %>...
            </p>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <%- include('./parcials/footer') -%>
  </body>
</html>
