<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/style.css" />    
    <title>BatiTienda🦇</title>
  </head>
  <body>
    <!--::::Encabezado de Pagina Mobile::::::-->
    <header class="header-mobile">
      <nav class="header-nav">
        <input type="checkbox" id="checkbox-menu-toggle" class="menu-toggle" name="menuToggle" style="display: none;">
        <label for="checkbox-menu-toggle" class="menu-icon"><i class="fa-solid fa-bars"></i></label>
        <div class="main-menu">
          <ul>
            <li>
              <input type="radio" name="menuToggle" id="figurasToggle" class="menu-toggle">
              <label for="figurasToggle" class="menu-icon">Figuras</label>
              <ul class="sub-menu">
                  <li><a href="#">Hasbro</a></li>
                  <li><a href="#">Bandai</a></li>
                  <li><a href="#">Funko</a></li>
                  <li><a href="#">Otros</a></li>
              </ul>
            </li>
            <li>
              <input type="radio" name="menuToggle" id="comicsToggle" class="menu-toggle">
              <label for="comicsToggle" class="menu-icon">Comics</label>
              <ul class="sub-menu">
                  <li><a href="#">Marvel</a></li>
                  <li><a href="#">DC</a></li>
                  <li><a href="#">Star Wars</a></li>
              </ul>
            </li>
            <li>
              <input type="radio" name="menuToggle" id="mangasToggle" class="menu-toggle">
              <label for="mangasToggle" class="menu-icon">Mangas</label>
              <ul class="sub-menu">
                  <li><a href="#">Shonen</a></li>
                  <li><a href="#">Shojo</a></li>
                  <li><a href="#">Seinen</a></li>
                  <li><a href="#">Josei</a></li>
              </ul>
            </li>
            <li>
              <input type="radio" name="menuToggle" id="otrosToggle" class="menu-toggle">
              <label for="otrosToggle" class="menu-icon">Otros</label>
              <ul class="sub-menu">
                  <li><a href="#">Indumentaria</a></li>
                  <li><a href="#">Accesorios</a></li>
              </ul>
            </li>
          </ul>
          <ul>
            <li>
              <a class="btn" href="/user/login">Inicia Sesión</a>
            </li>
            <li>
              <a class="btn" href="/user">Registrate</a>
            </li>
          </ul>
        </div>
        <a href="/">
          <img src="/images/murcielago1.png" alt="Logo Bati-Tienda" class="logo">
        </a>
        <div class="cart-icon">
            <a href="/product/productCar"><i class="fa-solid fa-cart-shopping"></i></a>  
        </div>
      </nav>
      <div class="container">
          <form class="search-form" action="#">
              <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
      </div>
    </header>

    <!--::::Encabezado de Pagina desktop::::::-->
    <header class="header-desktop">
      <section class="header-top1">
        <a href="/">
          <img src="/images/murcielago1.png" alt="Logo Bati-Tienda" class="logo1">
        </a>
        <div class="container1">
          <form class="search-form1" action="#">
            <input type="text" name="search" placeholder="Buscar producto..." autocomplete="off">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div class="user-cart-icon">
          <div class="login-options">
            <a href="/user/login"><i class="fa-solid fa-user">  Inicia Sesion</i></a>
            <a href="/user"><i class="fa-regular fa-user">  Registrate</i></a>
          </div>
          <a id="car-link" href="/product/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>  
      </section>
      <nav class="navbar">
        <ul class="menu">
          <li class="menu-item">
            <a href="#">Figuras</a>
            <ul class="submenu">
              <li><a href="#">Hasbro</a></li>
              <li><a href="#">Bandai</a></li>
              <li><a href="#">Funko</a></li>
              <li><a href="#">Otros</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Comics</a>
            <ul class="submenu">
              <li><a href="#">Marvel</a></li>
              <li><a href="#">DC</a></li>
              <li><a href="#">Star Wars</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Mangas</a>
            <ul class="submenu">
              <li><a href="#">Shonen</a></li>
              <li><a href="#">Shojo</a></li>
              <li><a href="#">Seinen</a></li>
              <li><a href="#">Josei</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Otros</a>
            <ul class="submenu">
              <li><a href="#">Indumentaria</a></li>
              <li><a href="#">Accesorios</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="banner-container">
        <div class="banner-inicio">
          <img src="/images/banner1.png" alt="banner nuevas ofertas">
        </div>
      </div>
      <div class="productos-lista">
        <% for(product of products) { %>
        <div class="producto">
          <a href="/product/<%=product.id%>" >
            <img src="<%=product.imagen%>" />
          </a>
          <div class="producto-descripcion">
            <h2 class="producto-nombre"><%= product.titulo %></h2>
            <div class="precio-carro">
              <p class="producto-precio">$<%= product.precio %></p>
              <p class="add-carrito"> Añadir <i class="fa-solid fa-cart-shopping carro-producto"></i></p>
            </div>
            <p class="descripcion-producto">
              <%= product.descripcion %>
            </p>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <!--::::Pie de Pagina::::::-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="/">
                        <img src="/images/murcielago1.png" alt="Logo Bati-Tienda">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            </div>
            <div class="box social">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>Bati-Tienda</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
    <script  src="../app.js"></script>
  </body>
</html>
