<%- include('../parcials/head') -%>
<body>
    <%- include('../parcials/header') -%>
        
    </nav>
    <section>
        <h2 class="radius-invertido">Nuestros productos: </h2>
    </section>
    <div class="productos-lista">
        <% for(product of productos) { %>
        <div class="producto">
          <a href="/product/<%=product.id%>" >
            <img src="<%=product.imagen%>" />
          </a>
          <div class="producto-descripcion">
            <h2 class="producto-nombre"><%= product.titulo %></h2>
            <div class="precio-carro">
              <p class="producto-precio">$<%= product.precio %></p>
              <button class="btn-add-carrito">
                <i class="fa-solid fa-cart-shopping"></i>
                Añadir
              </button>
            </div>
            <p class="descripcion-producto">
              <%= product.descripcion %>...
            </p>
          </div>
        </div>
        <% } %>
      </div>

    <%- include('../parcials/footer') -%>
</body>
</html>