<%- include('../parcials/head') -%>
<body>
    <%- include('../parcials/header') -%>

    <main class="form-container">
        <section class="login-container">
            <h2>Iniciar Sesi칩n</h2>
            <form class="login-form" id="form-login" action="/user/login" method="POST">
                <label for="email">Email o nombre de usuario</label>
                <input type="text" id="email" name="userAcount" placeholder="游닎 Ingrese tu usuario" value="<%= locals.userName ?? '' %>">
                <p class="msg-Error" id="userAccount-Error">Debe ingresar un email o un nombre de usuario valido.</p>
                <% if(locals.errors && errors.email){ %>
                <p class="msg-Error warning"> <%= errors.email.msg %> </p>
                <% } %>
                <label for="contrasena">Contrase침a</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="游 Ingrese su contrase침a">
                <p class="msg-Error" id="password-Error">Debe ingresar una contrase침a.</p>
                <label for="recordar"><input type="checkbox" id="recordar" name="recordar_usuario">Recordarme</label>
                <button class="btn" type="submit">Iniciar Sesi칩n</button>
            </form>
            <a href="recuperar_contrasena.html">쯆lvidaste tu contrase침a?</a>
            <div class="social-login">
                <p>O inicia sesi칩n con:</p>
                <a href="#" class="social-button google"><i class="fa-brands fa-google" style="color: #a71c1c;"></i> Google</a>
                <a href="#" class="social-button facebook"><i class="fa-brands fa-facebook" style="color: #0866ff;"></i> Facebook</a>
                <a href="#" class="social-button twitter"><i class="fa-brands fa-twitter" style="color: #55acef;"></i> Twitter</a>
            </div>
        </section>
    </main>
    <%- include('../parcials/footer') -%>
    <script src="/js/validator.js"></script>
</body>
</html>