<%- include('../parcials/head') -%>
  <body>
    <%- include('../parcials/header') -%>
    <main>

        <section class="user-edit">
            <section class="user-section">
                <section class="user-perfil">
                    <div class="marco-img">
                        <div class="cambiar-img">
                            <form action="/user/img/<%= userLogin.user_id %>?_method=PUT" id="subirImgFormulario" method="post" enctype="multipart/form-data">
                              <label for="cambiar-imagen"><i class="fa-solid fa-pen-to-square"></i></label>
                              <input type="file" name="img-usuario" id="cambiar-imagen" onchange="cambiarImgPerfil()">
                            </form>
                        </div>
                        <img src="/images/img_profile/<%=userLogin.image%>" alt="imagen de perfil">
                    </div>
                    <h3><%= userLogin.name ? userLogin.name : "Usuario no Logueado" %> <%= userLogin.name ? userLogin.lastName: "Usuario no Logueado"%></h3>
                    <p><%= userLogin.category %></p>
                </section>
                <ul class="ul-option">
                    <a href="#subcontainer">
                        <li class="li activo">Editar Perfil</li>
                    </a>
                    <a href="#subcontainer">
                        <li class="li">Usuarios</li>
                    </a>
                    <a href="#subcontainer">
                        <li class="li">Productos</li>
                    </a>
                </ul>
            </section>
            <div class="subcontainer" id="subcontainer">
                <div class="bloque activo">
                    <h1>Editar Perfil</h1>
                    <form class="form-edit" action="/user/profile?_method=PUT" method="POST">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="<%= userLogin.name ? userLogin.name : "" %>" required>
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" placeholder="Apellido" value="<%= userLogin.last_name ? userLogin.last_name : "" %>" required>
                        <label for="correo">Correo Electrónico:</label>
                        <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" value="<%= userLogin.email ? userLogin.email : "" %>" required>
                        <label for="usuario">Nombre de Usuario:</label>
                        <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario" value="<%= userLogin.user_name ? userLogin.user_name: "" %>" required>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                        <label for="confirmar_contrasena">Confirmar Contraseña:</label>
                        <input type="password" id="confirmar_contrasena" name="confirmar_contrasena"
                            placeholder="Confirmar Contraseña" required>
                        <button class="btn" type="submit">Editar</button>
                    </form>
                </div>
                <div class="bloque">
                    <h1>Usuarios</h1>
                    <div class="table-container">
                        <table>
                          <thead>
                            <tr>
                              <th class="table-img-user">Img</th>
                              <th>Nombre</th>
                              <th>Nickname</th>
                              <th>Email</th>
                              <th class="table-perfil">Perfil</th>
                              <th class="table-acciones">Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(user of users) { %>
                            <tr>
                              <td class="table-img-user" data-titulo="Imagen:"><img src="/images/img_profile/<%= user.image %>" alt="Usuario 1"></td>
                              <td data-titulo="Nombre:"><%= user.name %> <%= user.last_name %></td>
                              <td data-titulo="Nick:"><%= user.user_name %></td>
                              <td data-titulo="Email:"><%= user.email %></td>
                              <td class="table-perfil" data-titulo="Perfil:"><%=  user.category == 1 ? user.category = "Admin" : user.category = "Usuario"  %></td>
                              <td class="table-acciones">
                                <a href="#" class="edit-link"><button><i class="fa-solid fa-pen-to-square"></i></button></a>
                                <a href="/user/profile" class="delete-link"><button><i class="fa-solid fa-trash"></i></button></a>
                              </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class="bloque">
                    <div class="encabezadoListProduct">
                      <h1>Productos</h1>
                      <a href="/product/createProduct"><button class="btn">Crear <i class="fa-regular fa-square-plus"></i></button></a>
                    </div>
                    <div class="table-container">
                        <table>
                          <thead>
                            <tr>
                              <th class="table-id">Id</th>
                              <th>Titulo</th>
                              <th class="table-img-product">Img</th>
                              <th class="table-price">Precio</th>
                              <th class="table-stock">Stock</th>
                              <th class="table-acciones">Acción</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(product of products) { %>
                            <tr>
                              <td class="table-id" data-titulo="Id:"><%= product.product_id %></td>
                              <td class="table-titulo" data-titulo="Titulo:"><%= product.title %></td>
                              <td class="table-img-product" data-titulo="Imagen:"><img src="/images/img_products/<%= product.image %>" alt="Producto 1"></td>
                              <td class="table-price" data-titulo="Precio:">$<%= product.price %></td>
                              <td class="table-stock" data-titulo="Stock:"><%= product.stock %></td>
                              <td class="table-acciones">
                                <a href="/product/editProduct/<%=product.product_id%>" class="edit-link"><button><i class="fa-solid fa-pen-to-square"></i></button></a>
                                <form class="delete-link" action="/product/<%=product.product_id%>?_method=delete" method="POST" onsubmit="confirmDelete(event)">
                                  <button type="submit" name="delete"><i class="fa-solid fa-trash"></i></button>
                                </form>
                              </td>
                            </tr>           
                            <% } %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
      <div id="loaderBatman">
        <div class="loader-content">
            <img src="/images/BatmanRUN-unscreen.gif" alt="loader">
            <p>Loading<span>.</span><span>.</span><span>.</span></p>
        </div>
      </div>
    </main>
    <%- include('../parcials/footer') -%>

    
    <script>
        const li = document.querySelectorAll('.li')
        const bloque = document.querySelectorAll('.bloque')

        // CLICK en li
        // TODOS .li quitar la clase activo
        // TODOS .bloque quitar la clase activo
        // .li con la posicion se añadimos la clase activo
        // .bloque con la posicion se añadimos la clase activo

        // Recorriendo todos los LI
        li.forEach((cadaLi, i) => {
            // Asignando un CLICK a CADALI
            li[i].addEventListener('click', () => {

                // Recorrer TODOS los .li
                li.forEach((cadaLi, i) => {
                    // Quitando la clase activo de cada li
                    li[i].classList.remove('activo')
                    // Quitando la clase activo de cada bloque
                    bloque[i].classList.remove('activo')
                })

                // En el li que hemos click le añadimos la clase activo
                li[i].classList.add('activo')
                // En el bloque con la misma posición le añadimos la clase activo
                bloque[i].classList.add('activo')

            })
        })

    </script>

  </body>
</html>